header.header {
  // padding-top: 130px;
  margin-top: 30px;
  .logo_container {
    .logo {
      img {
        object-fit: cover;
        height: 346px;
      }
    }
  }

  .languages_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // flex-direction: row-reverse;
    margin-top: -25px;
    margin-bottom: 30px;
    .lang {
      margin-right: 16px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      transform: scale(1);

      &:hover {
        transform: scale(1.2);
      }
      img {
      }
    }
  }
}
