:root {
  --arabic-font: __hrair_4c5323, __hrair_Fallback_4c5323;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #c6b09a !important;
}

a {
  text-decoration: none;
}
