section.person {
  .img_container {
    background-image: url("/assets/svgs/background_layer.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;

    @media screen and (max-width: 450px) {
      // max-height: 250px;
      max-height: 50vh;
    }

    img {
      height: 288px;

      @media screen and (max-width: 450px) {
        height: 427px;
      }
    }
  }
}
